<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>CRM</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <filter>
       <filter-name>myfilter</filter-name>
       <filter-class>com.luoxc.filter.Myfilter</filter-class>
  </filter>
  <filter-mapping>
       <filter-name>myfilter</filter-name>
       <url-pattern>/chaxun</url-pattern>
  </filter-mapping>
  <filter-mapping>
       <filter-name>myfilter</filter-name>
       <url-pattern>/chaxun2</url-pattern>
  </filter-mapping>
  <filter-mapping>
       <filter-name>myfilter</filter-name>
       <url-pattern>/delete</url-pattern>
  </filter-mapping>
  <filter-mapping>
       <filter-name>myfilter</filter-name>
       <url-pattern>/Tianjia</url-pattern>
  </filter-mapping>
  <filter-mapping>
       <filter-name>myfilter</filter-name>
       <url-pattern>/User2</url-pattern>
  </filter-mapping>
  <filter-mapping>
       <filter-name>myfilter</filter-name>
       <url-pattern>/xiugai</url-pattern>
  </filter-mapping>
  <filter-mapping>
       <filter-name>myfilter</filter-name>
       <url-pattern>/kuchun</url-pattern>
  </filter-mapping>
   <filter-mapping>
       <filter-name>myfilter</filter-name>
       <url-pattern>/co_xiugai</url-pattern>
  </filter-mapping>
  <filter-mapping>
       <filter-name>myfilter</filter-name>
       <url-pattern>/co_add</url-pattern>
  </filter-mapping>
  <filter-mapping>
       <filter-name>myfilter</filter-name>
       <url-pattern>/co_chaxun</url-pattern>
  </filter-mapping>
  <filter-mapping>
       <filter-name>myfilter</filter-name>
       <url-pattern>/co_chaxun2</url-pattern>
  </filter-mapping>
  <filter-mapping>
       <filter-name>myfilter</filter-name>
       <url-pattern>/co_chaxun3</url-pattern>
  </filter-mapping>
  
</web-app>